PRIMARY KEY
UNIQUE
NOT NULL
DEFAULT
DISTINCT

ON DELETE CASCADE;

ALTER TABLE <tname> ADD FOREIGN KEY(<column-name>) REFERENCES <tname>(<column-name>) ON DELETE SET NULL;

ALTER TABLE <tname> DROP FOREIGN KEY <column-name>;


SET FOREIGN_KEY_CHECKS=0;
SET FOREIGN_KEY_CHECKS=1;
